.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	padding: 48px 0 0;
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
main {
	padding-top: 48px;
}
.navbar-nav {
	flex-direction: row;
}
main {
	min-height: 832px;
}
.nav-link {
	color: $dark-grey;
	&.active {
		color: $black;
		font-weight: 600;
	}
	&:hover {
		@extend .active;
	}
	
}
.row-striped {
	&:nth-of-type(odd){
  		background-color: $white;
	}
	&:nth-of-type(even){
  		background-color: $grey;
	}
	&:last-of-type {
		border-bottom-left-radius: 0.25rem;
		border-bottom-right-radius: 0.25rem;
	}
}
.data-list{
	.data-ordering {
		background-image: url('../public/images/sort_both.png');
		background-repeat: no-repeat;
		background-position: center right;
		cursor: pointer;
		&-asc {
			@extend .data-ordering;
			background-image: url('../public/images/sort_asc.png');
		}
		&-desc {
			@extend .data-ordering;
			background-image: url('../public/images/sort_desc.png');
		}
	}
}
.cursor-pointer {
	cursor: pointer;
}
.rounded-top-0 {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}